<%- include('./partials/header.ejs'); %>

<main class="conteiner">
  <article>
    <div class="row">
      <div class="col-md-auto">
        <img class="shadow p-3 mb-5 bg-body-tertiary border-rounded-1 " src="/img/home/UNAF.jpg" width="275px"  />
      </div>
      <div class="col">
        <h1>Nombre de la institución</h1>
        <h5><a class="material-symbols-outlined">location_on</a> Ubicación</h5>
      </div>
    </div>

    <br />

    <h3>Estadisticas del perfil</h3>
    <div class="row">
      <div class="col-3">
        <div class="bg-secondary">
          <div class="vector">
            <a class="material-symbols-outlined"> check </a>
          </div>
          <p class="card-text">Estudiantes Activos.</p>
    <main>
        <section>
            <div class="col-lg-12 pt-2" id="info">
                <div>
                    <div class="mb-3 perfil">
                        <img src="/img/profile_logo.png" width="180" alt="Profile">
                    </div>
                </div>

        </section>

        <div class="botones justify-content-center">
            <button type="button" class="btn-sm boton m-2"><a href="">Editar perfil</a></button>
            <button type="button" class="btn-sm boton m-2" id="btnLogout">Logout</button>
        </div>
      </div>

      <div class="col-3">
        <div class="vector">
          <a class="material-symbols-outlined"> visibility </a>
        </div>
        <div class="bg-secondary">
          <p class="card-text">Visualizaciones en los ultimos 7 dias.</p>
        </div>
      </div>

      <div class="col-3">
        <div class="vector">
          <a class="material-symbols-outlined"> bookmark </a>
        </div>
        <div class="bg-secondary">
          <p class="card-text">ofertas academicas</p>
        </div>
      </div>
    </div>

    <br />
    <h3>Información Básica</h3>

    <div>
      <div class="col-6">
        <div class="col-md-auto align-item-center vector">
          <a class="material-symbols-outlined"> pin_drop </a>
        </div>
        <div class="col bg-secondary">
          <h1>Ubicación</h1>
          <p>Formosa, Formosa, Argentina, Ruta Nac. 81 km. 1190</p>
        </div>
      </div>
    </div>

    <br />
    <div>
      <div class="col-6">
        <div class="col-md-auto align-item-center vector">
          <a class="material-symbols-outlined"> call </a>
        </div>
        <div class="col bg-secondary">
          <h1>Contacto</h1>
          <p>Telefono: 370567891</p>
          <p>Email: contacto@gmail.com</p>
          <p>Web: http://www.google.com</p>
        </div>
      </div>
    </div>
  </article>

<<<<<<< HEAD:src/views/userInstitute/index.ejs
  <article>
    <h3>Facultades</h3>
=======
        <div class="listadocarreras pb-5">
            <section class="cuadroCarreras m-1 p-1">
                <div class="text-center">
                    <h1>Carreras</h1>
                </div>
>>>>>>> origin/costareact:server/src/views/userInstitute/index.ejs

    <div class="mt-5 mb-5">
      <h5>
        <a class="edit material-symbols-outlined bg-zinc"> edit </a>
        <a class="material-symbols-outlined"> delete </a> Nombre de una carrera
      </h5>
      <h5>
        <a class="edit material-symbols-outlined bg-zinc"> edit </a>
        <a class="material-symbols-outlined"> delete </a> Nombre de una carrera
      </h5>
      <h5>
        <a class="edit material-symbols-outlined bg-zinc"> edit </a>
        <a class="material-symbols-outlined"> delete </a> Nombre de una carrera
      </h5>
    </div>
    <button>Ver todas</button>

<<<<<<< HEAD:src/views/userInstitute/index.ejs
    <h3>Carreras</h3>
    <div class="mt-5 mb-5">
      <h5>
        <a class="edit material-symbols-outlined bg-zinc"> edit </a>
        <a class="material-symbols-outlined"> delete </a> Nombre de una carrera
      </h5>
      <h5>
        <a class="edit material-symbols-outlined bg-zinc"> edit </a>
        <a class="material-symbols-outlined"> delete </a> Nombre de una carrera
      </h5>
      <h5>
        <a class="edit material-symbols-outlined bg-zinc"> edit </a>
        <a class="material-symbols-outlined"> delete </a> Nombre de una carrera
      </h5>
    </div>
    <button>Ver todas</button>

    <h3>Galeria de imagenes</h3>
    <img src="..." class="img-thumbnail" alt="..." />
    <img src="..." class="img-thumbnail" alt="..." />
    <img src="..." class="img-thumbnail" alt="..." />
    <img src="..." class="img-thumbnail" alt="..." />
    <img src="..." class="img-thumbnail" alt="..." />
    <button>Ver todas</button>
  </article>
</main>
=======
                <div class="listadocarrera m-4">
                    <div class="carrera">
                        <h3>Ingeniería en sistemas</h3>
                        <p>Años de Duración: 4</p>
                        <p>Modalidad: Presencial</p>
                        <button type="button" class="btn btn-secondary btn-sm boton  mb-4" style="text-decoration: none;
                  "><a href="">Ver más</a></button>
                    </div>
                    <div class="carrera">
                        <h3>Técnico en Programación Web</h3>
                        <p>Años de Duración: 3</p>
                        <p>Modalidad: Virtual</p>
                        <button type="button" class="btn btn-secondary btn-sm boton  mb-4" style="text-decoration: none;
                  "><a href="">Ver más</a></button>
                    </div>
                    <div class="carrera">
                        <h3> Licenciatura en Administración de Empresas</h3>
                        <p>Años de Duración: 5</p>
                        <p>Modalidad: Semipresencial</p>
                        <button type="button" class="btn btn-secondary btn-sm boton  mb-4" style="text-decoration: none;
                  "><a href="">Ver más</a></button>
                    </div>
                </div>

            </section>
    </main>
    <script src="/js/instituteProfile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
>>>>>>> origin/costareact:server/src/views/userInstitute/index.ejs

<%- include('./partials/footer.ejs'); %>
