<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Register</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
  <link rel="stylesheet" href="/public/css/register.css" />
</head>

<body>
  <main>
    <div class="Register">
      <h1 class="Registrar">Registrate aquí</h1>
      <form action="/home/home.html">
        <p>Nombre de la institución</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2"
            required placeholder="Nombre, °Número." />
        </div>

        
        <p>Categoria</p>
        <div class="input-group mb-2">
          <select name="categoria" id="categoria" value="categoria">
            <option value="1">Publica</option>
            <option value="2">Privada</option>
            <option value="3">Semi-privada</option>
          </select>
        </div>

        <p>Ubicación </p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2"
            required placeholder="Localidad, Provincia." />
        </div>

        <p>Correo electrónico</p>
        <div class="input-group mb-3">
          <input type="email" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2"
            required placeholder="correoelectronico@gmail.com" />
        </div>

        <p>Telefono de contacto</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2"
            required placeholder="+54 XXXXXXXXXX" />
        </div>


        <p>Sitio web (opcional) </p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2"
            required placeholder="https://www.ucp.edu.ar/" />
        </div>

        <div class="boton">
          <button class="btn btn-primary" type="submit" target="_blank" style="background-color: #5fbfff; border-color: #5fbfff;
            ">Enviar</a>
          </button>
        </div>

    </div>
    </form>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="register.js"></script>
</body>

</html>