<div class="mb-3">
                    
    <label for="mail" class="form-label">Correo electrónico<span style="color: red;">*</span></label>
    <input type="email" class="form-control" id="mail" placeholder="<EMAIL>" name="mail">

    <label for="phone" class="form-label">Teléfono de administración<span style="color: red;">*</span></label>
    <input type="number" class="form-control" id="phone" placeholder="0000000000" name="phone">
    
    <label for="webLink" class="form-label">Página Web<span style="color: red;">*</span></label>
    <input type="text" class="form-control" id="webLink" placeholder="https://..." name="webLink">
    
</div>