<div class="mb-3">

    <label for="province" class="form-label">Provincia</label>
    <select class="form-select" id="province" name="province">
       
    </select>
    
    <label for="locality" class="form-label">Localidad</label>
    <select class="form-select" id="locality" name="locality">
        <option selected>Selecciona una localidad</option>
    </select>

    <label for="postalCode" class="form-label">Código postal</label>
    <input type="number" class="form-control" id="postalCode" placeholder="3600" name="postalCode">

    <label for="street" class="form-label">Calle</label>
    <input type="text" class="form-control" id="street" placeholder="***" name="street">

    <label for="altitude" class="form-label">Altura</label>
    <input type="text" class="form-control" id="altitude" placeholder="3000" name="altitude">

    <label for="mapLink" class="form-label">Google Maps Link</label>
    <input type="text" class="form-control" id="mapLink" placeholder="https://www.google.com/maps/place/..." name="mapLink">

</div>