main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f4f4;
}
body {
  margin: 0;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.selectTipoCarrera {
  width: fit-content !important;
}

.inputNombreCarrera {
  width: max-content;
}


@media screen and (max-width: 768px) { 
  form {
    width: 90% !important;
  }
}