@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
  display: flex;
  flex-direction: column;
  color: #000;
  background: radial-gradient(#eeec79, #b8eb76);
  font-family: 'Alegreya Sans', sans-serif;

}

.ubi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  width: 90%;
  height: 310px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.logo {
  background-image: url(../img/home/logo.png);
  width: 45px;
  height: 45px;
  background-size: cover;
  transition: 0.1s ease-in-out;
}

.logo:hover {
  transform: scale(1.2);
  background-image: url(../img//home/logo_hover.png);
}

#cabecera {
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: rgb(237, 237, 237);
  width: 100%;
}

header li {
  font-size: 30px;
}
.cuadroCarreras {
  background-color: #fff;
  border-radius: 15px;
}

.boton {
  background-color: #fff;
  border-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: 0.1s ease-in-out;
  width: fit-content;
}
.botones {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.boton:hover {
  background-color: #fff;
  transform: scale(1.2);
}

.boton span {
  text-decoration: none;
}

.perfil img {
  background-color: rgb(255, 255, 255);
  border-radius: 15%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 600px;
}

.config {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.editar {
  background-image: url(img/editar.png);
  width: 25px;
  height: 25px;
  background-size: cover;
  transition: 0.1s ease-in-out;
}

.editar:hover {
  transform: scale(2);
  background-image: url(img/editar.png);
}

article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.listadocarrera {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 2px;
}

.carrera {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;

}

.listadocarrera button {
  display: flex;
  justify-content: end;
}

main div {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}