<div class="mb-3">
    <label for="category" class="form-label">Categoría<span style="color: red;">*</span></label>
    <select class="form-select selectTipoCarrera" id="category" name="category">
        <option selected>Seleccione la categoría * </option>
        <option value="1" id="1">Publico</option>
        <option value="2" id="2">Privado</option>
    </select>
</div>