body {
  background: linear-gradient(#88b5d8, #899faf, #a7b8c5, white);
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.iniciarS {
  padding-bottom: 15px;
}
.boton:hover {
  background-color: #629fcd !important;
  transition: 0.2s ease-in-out;
  border-color: #81bbe8 !important;
}
.login {
  width: 35%;
  margin: 10px;
  background-color: white;
  border: 25px solid;
  border-radius: 3%;
  border-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.lineaSeparadora {
  color: rgba(126, 126, 126, 0.4);
  font-weight: bold;
}
.boton {
  height: 3rem;
  background-color: #87c6f7 !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 1.5rem !important;
}
.crearCuenta {
  background-color: #3a0ca3 !important;
  font-weight: bold !important;
  color: white !important;
  width: auto;
}
.form-check {
  padding-top: 3%;
}

@media screen and (max-width: 1000px) {
  .login {
    width: 60%;
    height: 46%;
  }
}
@media screen and (max-width: 768px) {
  .login {
    width: 80%;
    height: 46%;
  }
}
.aqui {
  color: #aed1ec;
  font-weight: bold;
}
