@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
body {
  font-family: "Alegreya Sans", sans-serif;
}
html {
    height: 100vh;
}
#cabecera {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: rgb(237, 237, 237);
  }
  .preguntas-frecuentes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }
main {
    padding-top: 120px;
    padding-bottom: 137px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(237, 237, 237);
}
header li {
  font-size: 30px;
}
.logo {
    background-image: url(../img/home/logo.png);
    width: 45px;
    height: 45px;
    background-size: cover;
    transition: 0.1s ease-in-out;
  }
  .logo:hover {
    transform: scale(1.2);
    background-image: url(../img/home/logo_hover.png);
  }
  
  footer {
    background-color: rgb(237, 237, 237);
    width: 100%;
  }

.btn-submit {
  background-color: black;
  color: white;
  font-weight: bold;
  border: black solid;
}

.btn-submit:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border: black solid;
} 
