<%- include('./partials/header.ejs'); %>

<main class="conteiner">
  <article>
    <div class="row">
      <div class="col-md-auto">
        <img class="shadow p-3 mb-5 bg-body-tertiary rounded-circle " src="/img/home/UNAF.jpg" width="275px"  />
      </div>
      <div class="col">
        <h1>Nombre de la institución</h1>
        <h5><a class="material-symbols-outlined">location_on</a> Ubicación</h5>
      </div>
    </div>

    <br />

    <h3>Estadisticas del perfil</h3>
    <div class="row">
      <div class="col-3">
        <div class="bg-secondary">
          <div class="vector">
            <a class="material-symbols-outlined"> check </a>
          </div>
          <p class="card-text">Estudiantes Activos.</p>
        </div>
      </div>

      <div class="col-3">
        <div class="vector">
          <a class="material-symbols-outlined"> visibility </a>
        </div>
        <div class="bg-secondary">
          <p class="card-text">Visualizaciones en los ultimos 7 dias.</p>
        </div>
      </div>

      <div class="col-3">
        <div class="vector">
          <a class="material-symbols-outlined"> bookmark </a>
        </div>
        <div class="bg-secondary">
          <p class="card-text">ofertas academicas</p>
        </div>
      </div>
    </div>

    <br />
    <h3>Información Básica</h3>

    <div>
      <div class="col-6">
        <div class="col-md-auto align-item-center vector">
          <a class="material-symbols-outlined"> pin_drop </a>
        </div>
        <div class="col bg-secondary">
          <h1>Ubicación</h1>
          <p>Formosa, Formosa, Argentina, Ruta Nac. 81 km. 1190</p>
        </div>
      </div>
    </div>

    <br />
    <div>
      <div class="col-6">
        <div class="col-md-auto align-item-center vector">
          <a class="material-symbols-outlined"> call </a>
        </div>
        <div class="col bg-secondary">
          <h1>Contacto</h1>
          <p>Telefono: 370567891</p>
          <p>Email: contacto@gmail.com</p>
          <p>Web: http://www.google.com</p>
        </div>
      </div>
    </div>
  </article>

  <article>
    <h3>Facultades</h3>

    <div class="mt-5 mb-5">
      <h5>
        <a class="edit material-symbols-outlined bg-zinc"> edit </a>
        <a class="material-symbols-outlined"> delete </a> Nombre de una carrera
      </h5>
      <h5>
        <a class="edit material-symbols-outlined bg-zinc"> edit </a>
        <a class="material-symbols-outlined"> delete </a> Nombre de una carrera
      </h5>
      <h5>
        <a class="edit material-symbols-outlined bg-zinc"> edit </a>
        <a class="material-symbols-outlined"> delete </a> Nombre de una carrera
      </h5>
    </div>
    <button>Ver todas</button>

    <h3>Carreras</h3>
    <div class="mt-5 mb-5">
      <h5>
        <a class="edit material-symbols-outlined bg-zinc"> edit </a>
        <a class="material-symbols-outlined"> delete </a> Nombre de una carrera
      </h5>
      <h5>
        <a class="edit material-symbols-outlined bg-zinc"> edit </a>
        <a class="material-symbols-outlined"> delete </a> Nombre de una carrera
      </h5>
      <h5>
        <a class="edit material-symbols-outlined bg-zinc"> edit </a>
        <a class="material-symbols-outlined"> delete </a> Nombre de una carrera
      </h5>
    </div>
    <button>Ver todas</button>

    <h3>Galeria de imagenes</h3>
    <img src="..." class="img-thumbnail" alt="..." />
    <img src="..." class="img-thumbnail" alt="..." />
    <img src="..." class="img-thumbnail" alt="..." />
    <img src="..." class="img-thumbnail" alt="..." />
    <img src="..." class="img-thumbnail" alt="..." />
    <button>Ver todas</button>
  </article>
</main>

<%- include('./partials/footer.ejs'); %>
