.result-item {
    background-color: #b9b9b9 ; /* Color de fondo para los resultados */
    padding: 1px;
    margin: 10px 0;
    border-radius: 10px;
  }

  .container {
    background-color: #acacac;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
  }