body::after {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fa9e86304-a31d-11e9-a282-2df48f366f7d?source=next-article&fit=scale-down&quality=highest&width=700&dpr=1");
  background-size: cover;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  filter: blur(8px);
  -webkit-filter: blur(8px);

  z-index: -1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

h1 {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .registerForm {
    width: 70%;
  }
}
@media screen and (max-width: 512px) {
  .registerForm {
    width: 90%;
  }
}

.registerForm {
  margin: 15px;
  background-color: white;
  border: 15px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
