<div class="w-100 mb-3">
    <label for="modality" class="form-label">Modalidad<span style="color: red;">*</span></label>
    <select class="form-select" name="modality">
    <option selected>Seleccione una modalidad</option>
    <option value="1">Presencial</option>
    <option value="2">A distancia</option>
    <option value="3">Presencial y a distancia</option>
</select>
</div>