<div class="d-flex flex-column time">
    <label for="time_unit" class="form-label">Tiempo<span style="color: red;">*</span></label>
    <select class="form-select " name="time_unit">
    <option selected>Seleccione el tiempo</option>
    <option value="1">Años</option>
    <option value="2">Meses</option>
</select>
</div>