<div class="mb-3">
    <label for="name" class="form-label">Tipo<span style="color: red;">*</span></label>
    <select class="form-select selectTipoCarrera" name="type_career">
        <option selected>Seleccione el tipo de carrera * </option>
        <option value="1">Carrera de Pregrado</option>
        <option value="2">Carrera de Grado</option>
        <option value="3">Maestría</option>
        <option value="4">Especialización</option>
        <option value="5">Diplomatura</option>
    </select>
</div>