<%- include('./partials/header.ejs'); %>


<body>
  <main>
    <div class="login">

      <h1 class="iniciarS">Iniciar sesión</h1>

      <form id="login-form">

        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="text" name="email" required class="form-control" id="email" aria-describedby="emailHelp">
          <div id="email" name="email" class="form-text">Nunca compartiremos tu información con nadie</div>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" name="password" required class="form-control" id="password">

          <p id="validationErr"></p>
        </div>

        Olvidó su contraseña? Haga click <a href="restorePSW.html" class="aqui">aquí</a>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
        </div>


        <div class="botones">
          <button type="submit" class="btn boton">Iniciar sesión</button>
        </div>
      </form>
    </div>
  </main>

  <%- include('./partials/footer.ejs'); %>
