.instituteCard {
  width: auto;
  position: relative;
  cursor: pointer;
  height: auto;
  margin-bottom: 20px;
  height: 23em;
}

.cardBody {
  display: flex;
  flex-direction: column;
}

.cardInterior {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.careerCard {
  width: auto;
  position: relative;
  cursor: pointer;
  height: auto;
  margin-bottom: 20px;
  height: 15em;
}
