<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/register-career.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <main>
        <form class="formAgregarCarrera" id="formAgregarCarrera">
            <h1>Agrega una nueva carrera</h1>
            <div class="mb-3">
                <label for="facultad" class="form-label">Facultad de la carrera</label>
                <input type="text" placeholder="Facultad de biologia " class="form-control" id="facultad">
            </div>
            <label for="name" class="form-label">Nombre de la carrera</label>
            <div class="d-flex">
                <div class="mb-3 w-100 h-100 me-3">
                    
                    <input type="text" class="form-control inputNombreCarrera" placeholder="Tecnicatura en desarrollo de software multiplataforma" id="name">
                </div>
                <select class="form-select selectTipoCarrera">
                    <option selected>Seleccione el tipo de carrera</option>
                    <option value="1">Carrera de Pregrado</option>
                    <option value="2">Carrera de Grado</option>
                    <option value="3">Maestria</option>
                    <option value="4">Especializacion</option>
                    <option value="5">Diplomatura</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="start_date" class="form-label">Fecha de inicio</label>
                <input type="date" class="form-control" id="start_date">
            </div>
            <label for="duration" class="form-label">Duración</label>
            <div class="d-flex flex-row mb-3">
                <div class="mb-3 me-3">
                    <input type="number" class="form-control me-3" id="duration" placeholder="3">
                </div>
                <select class="form-select me-3">
                    <option selected>Seleccione el tiempo</option>
                    <option value="1">Años</option>
                    <option value="2">Meses</option>
                </select>
                <select class="form-select">
                    <option selected>Seleccione una modalidad</option>
                    <option value="1">Presencial</option>
                    <option value="2">A distancia</option>
                    <option value="3">Presencial y a distancia</option>
                </select>
            </div>



            <div class="mb-3">
                <label for="finalTitle" class="form-label">Titulo final</label>
                <input type="text" placeholder="Tecnico en desarrollo de software" class="form-control" id="finalTitle">
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-danger me-2"
                    onclick="location.href='/register-career'">Cancelar</button>
                <button type="submit" class="btn btn-success">Agregar</button>
            </div>

        </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</body>

</html>