  <%- include('./partials/header.ejs'); %>
    <main class="justify-content-center bg-dark">
      <section class="justify-content-center text-light">

        <div class="container">
          <form id="search-input">
            <label for="name">Buscar Instituto/Universidad:</label>
            <!-- Utiliza el nombre correcto del campo de entrada -->
            <input type="text" id="name" placeholder="Nombre del Instituto">
            <!-- Utiliza el nombre correcto del campo de entrada -->
            <button type="submit">Buscar</button>
          </form>
        </div>

        <div id="results"></div>

        <div class="mb-1 m-5">
          <h3>Noticias destacadas</h3>
        </div>

        <div id="carouselExampleAutoplaying" class="carousel slide carrusel" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./img/home/laCuencaDelPlata.jpg" class="d-block w-100" alt="La cuenca del plata">
            </div>
            <div class="carousel-item">
              <img src="./img/home/siglo21.png" class="d-block w-100" alt="Siglo 21">
            </div>
            <div class="carousel-item">
              <img src="/img/home/UNAF.jpg" class="d-block w-100" alt="UNAF">
            </div>
          </div>
          <button class="carousel-control-prev btn-next " type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next btn-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </section>
    </main>
    <%- include('./partials/footer.ejs'); %>
