<%- include('./partials/header.ejs'); %>

  <header id="cabecera" class="d-flex justify-content-between align-content-center">
    <nav aria-label="breadcrumb d-flex align-content-center">
      <ol class="breadcrumb p-2 m-0 ps-3 d-flex justify-content-between">
        <li class="breadcrumb-item">
          <a class="navbar-brand" href="/">
            <div class="logo"></div>
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Buscar</li>
      </ol>
    </nav>
    <div class="preguntas-frecuentes">
      <a href="/preguntas-frecuentes"><img src="./img/home/question-mark-vector-icon.png" style="width: 30px;"
          alt="Ayuda"></a>
    </div>
  </header>
  <main class="justify-content-center bg-dark">
    <section class="justify-content-center text-light">
      <div class="busquedaCuadro w-100">
        <h3><label for="busqueda">Busca una universidad/carrera</label></h3>
        <div class="d-flex w-100 d-flex justify-content-center">
          <input type="text" id="busqueda" placeholder="Ingeniería en Software" name="busqueda">
          <button class="w-auto" id="btnBuscar">Buscar</button>
        </div>

      </div>
      <div id="resultados">

      </div>
      <h3>Noticias destacadas</h3>
      <div id="carouselExampleAutoplaying" class="carousel slide carrusel" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./img/home/laCuencaDelPlata.jpg" class="d-block w-100" alt="La cuenca del plata">
          </div>
          <div class="carousel-item">
            <img src="./img/home/siglo21.png" class="d-block w-100" alt="Siglo 21">
          </div>
          <div class="carousel-item">
            <img src="/img/home/UNAF.jpg" class="d-block w-100" alt="UNAF">
          </div>
        </div>
        <button class="carousel-control-prev btn-next " type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btn-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </section>
  </main>

  <%- include('./partials/footer.ejs'); %>